.slider {
  width: 100%; }

.slider__wrap {
  width: inherit;
  display: inherit;
  outline: 1px solid red;
  width: 100%;
  padding: 5.75rem 0; }

.slider__item {
  outline: 1px solid red;
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  width: 88.571%;
  padding: 5rem 5.875rem 5rem 4rem; }

.slider__item__left {
  width: 49%; }

.slider__item__right {
  width: 49%; }

.slider__item__right-block1 {
  margin: 0 auto;
  width: 20rem;
  height: 27rem;
  background: #fff;
  position: relative; }

.slider__item__right-block2 {
  width: 3rem;
  height: 23rem;
  background: gray;
  transform: translate(100%, 0%);
  position: absolute;
  right: 0;
  bottom: 0; }
